
.main-container {
  position: relative;
  max-width: 1200px; /* 限制這個區塊的大小 */
  margin: 0 auto; /* 讓區塊在畫面裡「水平置中 */
  background-color: #ffffff; /* 給文字區塊白底，不會跟外層的背景圖糊在一起 */
  border-radius: 0 0 5% 5%;
  min-height: 120vh; /* 確保就算文字很少，白色區塊也能往下長，至少跟螢幕一樣高 */
  box-shadow: 0 0 15px rgba(0,0,0,0.3); /* (選擇性) 加一點陰影 */
}