

body {
    margin: 0;
    padding: 0;
    background-image:url(pictues\background.png); /* 放上你喜歡的背景圖 */
    background-size: cover; /* 讓背景圖填滿整個螢幕 */
    background-attachment: fixed; /* (選擇性) 讓背景圖固定，滑動網頁時只有中間區塊會動，很有質感！ */
    background-color: #f1efee;
    font-family: "Noto Serif CJK TC", Arial, sans-serif;
    color: #333;
}

p {
    text-align: left;
    color: #8d6f5b;
    padding: 0 0 0 5px;
    font-size: 20px;
    font-family: "Noto Serif CJK TC", Arial, sans-serif;
}

h1 {
    text-align: left;
    color: #696464;
    font-size: 42px;
    padding: 10px 0;
    font-family: "Noto Serif CJK TC", Arial, sans-serif;
    font-weight: bold;
  }

.text-content {  /* 進入網站歡迎內容跟簡介的一塊div */
  padding: 50px 30px 30px 80px; /* 上方刻意多留 50px 的空白，因為大頭貼有往下凸 30px，避免文字被大頭貼擋住 */
}

.main-container {
  position: relative;
  max-width: 1200px; /* 限制這個區塊的大小 */
  margin: 0 auto; /* 讓區塊在畫面裡「水平置中 */
  background-color: #ffffff; /* 給文字區塊白底，不會跟外層的背景圖糊在一起 */
  border-radius: 5%;
  min-height: 120vh; /* 確保就算文字很少，白色區塊也能往下長，至少跟螢幕一樣高 */
  box-shadow: 0 0 15px rgba(0,0,0,0.3); /* (選擇性) 加一點陰影 */
}

.header-container {
    position: relative;
    width: 100%;
    height: 400px; /* 可調整橫幅高度 */
}

.tags-box {
    position: absolute;
    left: 20px;
    bottom: 15px;
    z-index: 10;

    display: flex;
    gap: 10px; /* 標籤之間的間距 */
}

.tag {
  background-color: rgba(255, 255, 255, 0.8); /* 半透明白色背景 */
  color: #a06732; /* 文字顏色 */
  padding: 5px 15px; /* 上下 5px，左右 15px 的呼吸空間 */
  border-radius: 20px; /* 讓邊角變成圓潤的膠囊狀 */
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 加點小陰影更有質感 */
}

.Profile-pic {
    position: absolute;
    right: 70px;
    bottom: -50px; /* 調整圖片位置 */
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 7px solid #aca49de3;
    box-shadow: 0 0 10px rgba(63, 60, 60, 0.3);
    z-index: 10;
}

.Banner {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持圖片比例，填滿容器 */
}

